/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

body {
  background: #0d0d0d;
  color: #ffffff;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  position: fixed;
  width: 100%;
  background: rgba(0,0,0,0.85);
  backdrop-filter: blur(10px);
  z-index: 1000;
}

.logo {
  font-size: 22px;
  font-weight: 700;
  color: gold;
}

nav ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: 0.3s ease;
}

nav a:hover {
  color: red;
}

/* HERO SECTION */
.hero {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 140px 80px 80px;
}

.hero-text {
  max-width: 600px;
}

.hero-text h1 {
  font-size: 50px;
  margin-bottom: 20px;
}

.hero-text span {
  color: gold;
}

.hero-text p {
  color: #cccccc;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  padding: 12px 28px;
  background: linear-gradient(45deg, gold, red);
  color: black;
  font-weight: 600;
  border-radius: 30px;
  text-decoration: none;
  transition: 0.3s ease;
}

.btn:hover {
  transform: scale(1.05);
}

.hero-img img {
  width: 350px;
  border-radius: 20px;
  box-shadow: 0 0 40px rgba(255,0,0,0.4);
}

/* SECTIONS */
section {
  padding: 80px 80px;
}

.section-title {
  font-size: 34px;
  color: gold;
  margin-bottom: 40px;
}

/* ABOUT */
#about p {
  max-width: 700px;
  color: #cccccc;
  line-height: 1.6;
}

/* SERVICES */
.services {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.card {
  flex: 1;
  min-width: 260px;
  padding: 30px;
  background: #1a1a1a;
  border-radius: 15px;
  transition: 0.3s ease;
  border: 1px solid #222;
}

.card:hover {
  transform: translateY(-10px);
  border: 1px solid red;
}

.card h3 {
  color: gold;
  margin-bottom: 15px;
}

.card p {
  color: #cccccc;
}

/* STATS */
.stats {
  display: flex;
  gap: 60px;
  margin-top: 30px;
}

.stat h2 {
  font-size: 42px;
  color: red;
}

/* PROJECTS */
.projects {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.project {
  flex: 1;
  min-width: 260px;
  padding: 25px;
  background: #1a1a1a;
  border-radius: 15px;
  transition: 0.3s ease;
}

.project:hover {
  transform: scale(1.05);
  border: 1px solid gold;
}

.project h3 {
  color: gold;
  margin-bottom: 10px;
}

.project a {
  color: red;
  text-decoration: none;
  font-weight: 500;
}

/* CONTACT */
.contact a {
  display: block;
  margin-bottom: 10px;
  color: gold;
  text-decoration: none;
  transition: 0.3s;
}

.contact a:hover {
  color: red;
}

/* FOOTER */
footer {
  background: #000;
  text-align: center;
  padding: 20px;
  color: #888;
}

/* RESPONSIVE */
@media(max-width: 900px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero-img {
    margin-top: 40px;
  }

  .services, .projects {
    flex-direction: column;
  }
}
